[submodule "RemoteCommunicationLibrary"]
	path = RemoteCommunicationLibrary
	url = http://gitlab.schleissheimer.de/RemoteWorkstation/RemoteCommunicationLibrary
[submodule "RemoteDataConnectLibrary"]
	path = RemoteDataConnectLibrary
	url = http://gitlab.schleissheimer.de/RemoteWorkstation/RemoteDataConnectLibrary
[submodule "RemoteBoxWrapper"]
	path = RemoteBoxWrapper
	url = http://gitlab.schleissheimer.de/RemoteWorkstation/RemoteBoxWrapper
