[submodule "RemoteCommunicationLibrary"]
	path = RemoteCommunicationLibrary
	url = http://github.com/masterofeye/RemoteCommunicationLibrary
[submodule "RemoteDataConnectLibrary"]
	path = RemoteDataConnectLibrary
	url = http://github.com/masterofeye/RemoteDataConnectLibrary
[submodule "RemoteBoxWrapper"]
	path = RemoteBoxWrapper
	url = https://github.com/masterofeye/RemoteboxWrapper
[submodule "RemoteThirdParty"]
	path = RemoteThirdParty
	url = https://github.com/masterofeye/RemoteThirdParty
